
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Mis Compras</span>
                <span class="badge badge-secondary badge-pill">3</span>
            </h4>


            <div class="panel-body">
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">Producto Nombre</h6>
                            <small class="text-muted">description</small>
                        </div>
                        <span class="text-muted">S/12</span>
                    </li>
        
                </ul>
            </div>
            <div class="list-group-item d-flex justify-content-between">
                <span>Total (PEN)</span>
                <strong>S/10.20</strong>
            </div>
            <hr />
            <button type="button" class="btn btn-primary btn-sm btn-block">Confirmar Pago</button>

        </div>
        <div class="col-md-8 order-md-1">
            <span>Buscar Categoria</span>
            <select id="selectCategorias" class="form-control">
                <option value="0" selected >Seleccionar</option>

            </select>


            <h4 class="mb-3">Productos</h4>
            <div id="listaProductos" class="row">
              
            </div>
        </div>


    </div>
</div>



@section Scripts{
    <script type="text/javascript">

      
    $(document).ready(function () {
        const ajaxJson = async (url) => await (await fetch(url)).json();

        document.getElementById('selectCategorias').addEventListener('change', () => {
            var text = selectCategorias.options[selectCategorias.selectedIndex].value;
            ProductosByCategoriaId(text)
        });

        function Categorias() {
            let urlRFID = `http://localhost:5000/api/categoria`;
            ajaxJson(urlRFID)
                .then(data => {
                    //selectCategorias.innerHTML = '';
                    for (const iterator of data) {
                        selectCategorias.innerHTML += `
                    <option name="optione" value="${iterator.categoriaId}">${iterator.nombre}</option>
                        `;
                    }
                }).catch((err) => {
                    console.log('Error', err);
                });

















        }
        function Productos() {
            let urlRFID = `http://localhost:5000/api/producto`;
            ajaxJson(urlRFID)
                .then(data => {
                    console.log(data);
                    data.data.forEach(element => {
                        console.log(element);
                        listaProductos.innerHTML += `
                        <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="${element.imagen}" class="img-thumbnail" alt="...">
                            <div class="card-body">
                                <p class="card-text">${element.descripcion}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Stock <strong>${element.stock}</strong></small>
                                    <small class="text-muted"> Precio <strong class="text-precio">${element.precio}</strong></small>
                                </div>
                                <hr />
                                 <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Total</small>
                                <input id="${element.productoId}" class="stock" value="25" min="0" max="1" />
                                <div class="btn-group">
                                    <button onclick="contadormenos(${element.productoId});" type="button" class="btn btn-sm btn-outline-secondary">-</button>
                                    <button onclick="contadormas(${element.productoId});" type="button" class="btn btn-sm btn-outline-secondary">+</button>
                                </div>
                            </div>
                                <br />
                                <button type="button" class="btn btn-primary btn-sm btn-block">Agregar</button>

                            </div>
                        </div>
                    </div>
                  
                  `;
                    });

                }).catch((err) => {
                    console.log('Error', err);
                });
        }
        function ProductosByCategoriaId(categoriaId) {
            let urlRFID = `http://localhost:5000/api/producto/Categoria/${categoriaId}`;
            ajaxJson(urlRFID)
                .then(data => {
                    listaProductos.innerHTML = '';
                    data.forEach(element => {
                        console.log(element);
                        listaProductos.innerHTML += `
                        <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img src="${element.imagen}" class="img-thumbnail" alt="...">
                            <div class="card-body">
                                <p class="card-text">${element.descripcion}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <small class="text-muted">Stock <strong>${element.stock}</strong></small>
                                    <small class="text-muted"> Precio <strong class="text-precio">${element.precio}</strong></small>
                                </div>
                                <hr />
                                 <div class="d-flex justify-content-between align-items-center">
                                <small class="text-muted">Total</small>
                                <input id="${element.productoId}" class="stock" value="25" min="0" max="1" />
                                <div class="btn-group">
                                    <button onclick="contadormenos(${element.productoId});" type="button" class="btn btn-sm btn-outline-secondary">-</button>
                                    <button onclick="contadormas(${element.productoId});" type="button" class="btn btn-sm btn-outline-secondary">+</button>
                                </div>
                            </div>
                                <br />
                                <button type="button" class="btn btn-primary btn-sm btn-block">Agregar</button>

                            </div>
                        </div>
                    </div>
                  
                  `;
                    });

                }).catch((err) => {
                    console.log('Error', err);
                });
        }
        Productos();
        Categorias();


    });
    </script>

}



